# Environnements / caches
.venv/
__pycache__/
*.pyc
tmp/

# Dossiers de travail de l’app
input/
output/
srt/
tools/
licenses/
add_dub/logs/

# Fichiers locaux/packaging
TOOLBOX_VERSION.txt
options.conf
gen_requirements.py
README.txt
mkvinfo.py
*.zip
*.lnk

# OS / éditeurs (facultatif)
Thumbs.db
Desktop.ini
.vscode/
.idea/

